@hamster {
  /*  Base settings */
  font-size: 14px;
  --line-height: 1.4;
  --font-ratio: 1.2;
  min-line-padding: 1px;
  remove-comments: true;
 /*  Vertical Rythm settings */
  unit: em;
  px-fallback: true;
  properties:  inline;
  ruler: true;
  ruler-style: always ruler-debug;
  ruler-color: rgba(19, 134, 191, .8);
  ruler-icon-colors: #F0FAFF #ACFF0D;
  ruler-icon-position: "position: absolute;top: 1.5em;left: 1.5em;";
  ruler-background: png;
  /*ruler-output: images/ruler.png;*/
  ruler-pattern: 1 0 0 0;
  ruler-scale: 1;
  ruler-thickness: 1;
} 
/*------------------------------------- 
End Hamster setup*/

@reset;
@import "variables";
@copy full {
  @import "typography.css";
}
@paste full;
@media (--only-small-screen) {
  @ihamster {
        --font-size: 16px;
        --line-height: 1.4;
  }
  @baseline html;
  @paste full;
  @hamster end;  
}
html {
  height: 100%;
}
p {
  @hyphens;
}
.body {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
 /* height: 100%;*/
}
.ubuntu {
  font-family: 'UbuntuR';
  font-style: normal;
  font-weight: 400;
}
#main {
  overflow:auto; background-color: #ada;
   /* footer height buffer */ 
}
#leftsheet {
  margin-top: 1em;
	lost-column: 2/7 3 1.5em ; background-color: #dad;
}
#slider {
  padding-top: 3em;
	lost-column: 3/7 3 1em;
} 
#rightsheet {
  margin-top: 1em;
	lost-column: 2/7 3 1.5em; background-color: #dad;
}
.maincontent {
 /* min-height: 100%;*/
	lost-center: 1366px;
	position:relative;
	.railsblock {
		position: absolute;
		margin: 10px;
		background-color: #ada;
		right:0;
	}
}
footer {
  lost-center: 1366px; background-color: #dad;
  lost-align: center; 
  position: relative;
  /* negative value of footer height */
  height: 150px;
  clear:both;
}
