@hamster {
  /*  Base settings */
  --font-size: 16px;
  --line-height: 1.35;   
 
  font-ratio: 1.2;
  unit: em;
  min-line-padding: 2px;
  remove-comments: true;
 /*  Vertical Rythm settings */
  px-baseline: false; 
  px-fallback: true;
  properties:  extend;
  ruler: true;
  ruler-style: always ruler-debug;
  ruler-color: rgba(19, 134, 191, .8);
  ruler-icon-colors: #F0FAFF #ACFF0D;
  ruler-icon-position: "position: absolute;top: 1.5em;left: 1.5em;";
  ruler-background: png;
  /*ruler-output: images/ruler.png;*/
  ruler-pattern: 1 0 0 0;
  ruler-scale: 1;
  ruler-thickness: 1;
  browser-font-size: 16px;
  legacy-browsers: true;
} 
/*------------------------------------- -------    -----  
End Hamster setup*/
@reset;
 
@box-sizing-reset;

@import "variables";
@copy full {
  @import "typography.css";
}
@paste full;
@media (--only-small-screen) {
  @ihamster {
    --font-size: 18px;
    --line-height: 1.4;
    --to-font-size: 16px;
    --to-line-height: 1.3;
    --viewport: 320px 800px;
    --unit: vw;
  }
  @paste full;
  @hamster end;
}
@media (--only-medium-screen) {
    @ihamster {
        --font-size: 16px;
        --line-height: 1.3;
        --to-font-size: 18px;
        --to-line-height: 1.35;
        --viewport: 800px 1920px;
        --unit: vw;
    }
    @paste full;
    @hamster end;
}
@media (only-big-screen){
    @ihamster {
        --font-size: 18px;
        --line-height: 1.35; 
        --to-font-size: 42px;
        --to-line-height: 1.6;
        --viewport: 1920px 3840px;
        --unit: vw;
    }
    @paste full;
    @hamster end;
}
html {
  height: 100%;
}
body {
  position:relative;
  height: 100%;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
 /* height: 100%;*/
}
.ubuntu {
  font-family: 'UbuntuR';
  font-style: normal;
  font-weight: 400;
}
#main {
  position: relative;
  overflow:hidden;  
   /* footer height bufferdffgdfg */ 
}
 
#leftsheet {
  margin-top: 1em;
	lost-column: 2/7 3 1.5em ; background-color: #dad;
  @media (--only-small-screen) {
    lost-column: 1/1;
  }
}
#slider {
  padding-top: 3em;
	lost-column: 3/7 3 1em;
  @media (--only-small-screen) {
    lost-column: 1/1;
  }
} 
#rightsheet {
  margin-top: 1em;
	lost-column: 2/7 3 1.5em; background-color: #dad;
  @media (--only-small-screen) {
    lost-column: 1/1;
  }
}
/* от размеров div'а maincontent идет зависимость - обсчет ширины меню, футера;  считается высота для определения sicky или realativ position футера */
.maincontent {
  /* min-height: 100%;*/ 
	lost-center: 1366px;
	position:relative; 
	.railsblock {
		position: absolute;
		background-color: #ada;
		right:0;
	}
}
#falign {
 position: relative;
} 
.footer { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px; background-color: #dad; 
}
