@hamster {
  /*  Base settings */
   
 
  font-ratio: 1.125;
  unit: em;
  min-line-padding: 2px;
  remove-comments: true;
 /*  Vertical Rythm settings */
  px-baseline: true; 
  px-fallback: true;
  properties:  extend;
  ruler: true;
  ruler-style: always ruler-debug;
  ruler-color: rgba(19, 134, 191, .8);
  ruler-icon-colors: #F0FAFF #ACFF0D;
  ruler-icon-position: "position: absolute;top: 1.5em;left: 1.5em;";
  ruler-background: png;
  /*ruler-output: images/ruler.png;*/
  ruler-pattern: 1 0 0 0;
  ruler-scale: 1;
  ruler-thickness: 1;
   
  legacy-browsers: true;
} 
/*---------------------------------- ------ ----  
End Hamster setup*/
@reset;
 
@box-sizing-reset;

@import "variables";
@copy full {
  @import "typography.css";
}
@paste full;
@media (--only-small-screen) {
  @ihamster {
    --font-size: 18px;
    --line-height: 1.4;
    --to-font-size: 16px;
    --to-line-height: 1.3;
    --viewport: 320px 800px;
    --unit: vw;
  }
  @paste full;
  @hamster end;
}
@media (--only-medium-screen) {
  @ihamster {
    --font-size: 16px;
    --line-height: 1.3;
    --to-font-size: 18px;
    --to-line-height: 1.4;
    --viewport: 800px 1919px;
    --unit: vw;
  }
  @paste full;
  @hamster end;
}
@media (--only-big-screen){
  @ihamster {
    --font-size: 18px;
    --line-height: 1.4; 
    --to-font-size: 22px;
    --to-line-height: 1.45;
    --viewport: 1920px 3840px;
    --unit: vw;
  }
  @paste full;
  @hamster end;
}
html {
  height: 100%;
}
body {
  position:relative;
  height: 100%;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
 /* height: 100%;*/
}
.body {
  background-image: url(ui_02.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
}
.railsblock {
  margin: 0.5em;
}
.deleteAction {
  color: blue;
  border-bottom: solid 1px;
  cursor: pointer;
}
.ubuntu {
  font-family: 'UbuntuR';
  font-style: normal;
  font-weight: 400;
}
#main {
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  overflow:hidden;  
   /* footer height bufferdffgdfg */ 
}
/* от размеров div'а maincontent идет зависимость - обсчет ширины меню, футера;  считается высота для определения sicky или realativ position футера s */
.maincontent {
  /* min-height: 100%;*/ 
  lost-center: $lcenter;
  position:relative; 
  .railsblock {
    position: absolute;
    background-color: #ada;
    right:0;
  }
}
.first {
}
 
#leftsheet {
  margin-top: 1em;
	lost-column: 2/7 3 1em ; background-color: #dad;
  @media (--only-small-screen) {
    lost-column: 1/1;
  }
}
#slider {
  padding-top: 3em;
	lost-column: 3/7 3 1em;
  @media (--only-small-screen) {
    lost-column: 1/1;
    padding-top: 1em;
  }
} 
.cleared {
  lost-utility: clearfix;
}
#rightsheet {
  margin-top: 1em;
	lost-column: 2/7 3 1em; background-color: #dad;
  @media (--only-small-screen) {
    lost-column: 1/1;
  }
}
.newsHead {
  text-align: center;
}
.newsBlock { background-color: #dad;
  lost-center: 1150px;
  div { height: 100px; padding: 1em;
    lost-column: 1/3 0 0;
    @media (--only-small-screen) {
      lost-column: 1/1 0 0;
    }
  }
}
.newspic {
  width:225px; 
  height:150px; 
  background-size: contain;
  background-repeat: no-repeat;
}
.slidepic {
  width:480px; 
  height:300px; 
  background-size: contain;
  background-repeat: no-repeat;
  p {
    text-indent: 0em;
  }
}
.contacts {
  display: flex;
  lost-utility: clearfix; 
  div { 
    lost-column: 1/2 0 1em;
  }
}
.map {
  height: 20em;
  iframe {
    height: 100%;
    width: 100%;
  }
}
.contactInfo {
  div {
    lost-row: 1/3 0 1em; 
  }
}
.contactInfobd { 
  div {
    lost-column: 1/2 0 1em; 
  }
}
.infoLast {
  div {
    lost-row: 1/2 0 1em;
  }
}
.feedback {background-color: #ada; 
}
#falign {
 position: relative;
} 
.footer { 
  display: flex;
  justify-content: center;
  align-items: center;
}
/* employees page */
/* form design */
#employees {
  background-color: #dad;
  clear: both;
}
.topSectAv {
  display: flex;
  margin-top: 1em;
  @media (--only-small-screen) {
    margin-top: 0em;
  }
  @media (--only-medium-screen) {
    height:  15vw;
  }
  @media (--only-1600more-screen) {
    height:  250px;
  }
  .avatarSect1 {
    z-index: 10;
    background-color: #fff;
    box-shadow: 0px 2px 10px 0px #5c5c5c;
    border: 0.3em solid $isabelline;
    border-radius: 0em;
    margin: 0em 0 0 1em;
    display: flex; 
    align-items: flex-end;  
    justify-content: center;
    lost-column: 1/5 2 0 ; 
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    .fotoEdit {
      font-size: fs t;
      margin: 0.5em;
      padding: 0.1em;
      background-color: rgba(255, 255, 255, 0.5);
    }
    @media (--only-small-screen) {
      display:none;
    }
    @media (--only-medium-screen) {
      lost-column: 1/5 2 0 ; 
    }
  }
  .avatarSect2 {
    lost-column: 4/5 2 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    margin-bottom: 2.5em;
    margin-top: 2.5em;
     .fioSpec { 
      margin-left: -3em;
      background-color: $isabelline;
      border-radius: 0.2em;
      @media (--only-small-screen) {
        margin-left: 0em;
      }
      h2 {
        background-color: #fff;
        padding: 0.2em  ;
        margin: 0.2em 0em 0.2em 1em;
        text-indent: 0.2em;
        @media (--only-small-screen) {
          margin-left: 0em;
        }
      }
      p {
        margin-left: 0em;
        margin-top: spacing(0.5);
        margin-bottom: spacing(0);
      }
      padding: 0.5em 1em 1em;
      @media (--only-small-screen) {
        p {
          text-indent: 0em;
          padding: 0;
        }
      }
    }

    h2 {
      font-family: 'UbuntuR';
    }
    p {
      text-align: center;
      margin-bottom: 0em;
      margin-top: 0em;
    }
    
    @media (--only-small-screen) {
      padding: 1em;
      h2 {
        adjust-font-size: fs xlarge;
        margin-bottom: spacing(0.1);

      }  
      p {
        adjust-font-size: fs s;
        line-height: 1.2em;
      }
      lost-column: 1/1 1 0;  
      margin-bottom: 0em;
      margin-top: 0em;
    }
    @media (--only-medium-screen) {
      lost-column: 3/4 2 0; 
    }
    div {
      background-color: #faf;
    }
  }
}
.empDesc {
  padding-left: 1em;
  margin-bottom: 1em;
  p {
    margin-bottom: spacing(0);
    text-indent: 0em;
  }
  ul, ol {
    padding: 0em;
    margin-top: 0.2em;
  }
  @media (--only-small-screen) {
    p {
      margin-bottom: 0em;
    }
  }

}

/*--------*/
/* стиль эффекта тени блока с 2х сторон */
.effect2 {
  position: relative;
}
.effect2:before    {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
 
/*--------*/
.effect4
{
  position: relative;
}
.effect4:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}