%strong {
  font-weight: 500;
}
%hlight {
   
}
h1 {
 	adjust-font-size: fs xxl;
	
  font-weight: 600;
   
	 
  padding-left: spacing(1);
  padding-right: spacing(1);
  margin-top: spacing(1);
  margin-bottom: spacing(0.2);
}
h2 {line-height: inherit;
  @extend %strong;
  color: @header-color;
  adjust-font-size: fs xl;
  margin-top: spacing(1);
  margin-bottom: spacing(0);
  padding-left: spacing(1);
  padding-right: spacing(1);
	 
   
}
h3 {
  @extend %hlight;
  adjust-font-size: fs l;
  margin-top: spacing(1);
  margin-bottom: spacing(-0.2);
  padding-left: spacing(1);
  padding-right: spacing(1);
}
h4 {
   
  adjust-font-size: fs m;
  margin-top: spacing(1);
  margin-bottom: spacing(0.2);
  padding-left: spacing(1);
  padding-right: spacing(1);
}
h5 {
  @extend %hlight;
  adjust-font-size: fs b;
  margin-top: spacing(1);
  margin-bottom: spacing(0);
  padding-left: spacing(1);
  padding-right: spacing(1);
}
h6 {
  @extend %hlight;
  adjust-font-size: fs s;
  margin-top: spacing(1);
  margin-bottom: spacing(0);
  padding-left: spacing(1);
  padding-right: spacing(1);
}
strong {
  @extend %strong;
}

p { 
  adjust-font-size: fs b;
  display: block;
  text-indent: 1.8em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  margin-bottom: spacing(1);
}
img {
  margin: 1em;
}
a {
  color: @header-color;
  &:hover {
      color: @font-color;
  }
}
ul,
ol { 
  adjust-font-size: fs b;
  list-style-position: inside;
}
ul { 
  list-style: disc inside;
}
ol {
  list-style: decimal inside;
}
ul a, ol a {
  text-decoration: none;
}
li {display: list-item;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-bottom: 0.2em;
}
code,
pre {
  font-family: "Roboto Mono", Inconsolata, monospace;
  margin: 0;
  padding: 0;
  text-align: left;
  tab-size: 4;
  hyphens: none;
  @forcewrap;
}