<% if user_signed_in? %>
<% end %>
<!--
<% @contacts.each do |contact| %>
	 <%= contact.adress %>
<% end %>
-->
<div id="leftsheet">
	<div id="child"></div>
</div>
<div id="slider">
	<% if user_signed_in? %>
		<a class="button is-success is-outlined" href="/sliders" style="margin: -1.4em 0 0 33%;">
			 редактор слайдов 
		</a>
	<% end %>
	<div id="sliderapp"></div>
</div>
<div id="rightsheet">
	<div id="adult"></div>
</div>
<div class="cleared"></div>
<div class="newsHead"><h5>Новости:</h5></div>
<div class="newsBlock">
	<div>1</div>
	<div>2</div>
	<div>3</div>
	<div>4</div>
	<div>5</div>
	<div>6</div>
	<div>1</div>
	<div>2</div>
	<div>3</div>
	<div>4</div>
	<div>5</div>
	<div>6</div>
</div>

 