<% if user_signed_in? %>
<% end %>
<!--
<% @contacts.each do |contact| %>
	 <%= contact.adress %>
<% end %>
-->
<div id="leftsheet">
	<div id="child"></div>
</div>
<div id="slider">
	<% if user_signed_in? %>
		<a class="button is-success is-outlined" href="/sliders" style="margin: -1.4em 0 0 33%;">
			 редактор слайдов 
		</a>
	<% end %>
	<div id="sliderapp"></div>
</div>
<div id="rightsheet">
	<div id="adult"></div>
</div>
<div class="cleared"></div>
<div id="news"></div>

 