<% if user_signed_in? %>
<% end %>

<div id="leftsheet"><div id="child"></div></div>
<div id="slider"><div id="sliderapp"></div></div>
<div id="rightsheet"><div id="adult"></div></div>
<div class="cleared"></div>
<div class="newsHead"><h5>Новости:</h5></div>
<div class="newsBlock">
	<div>1</div>
	<div>2</div>
	<div>3</div>
	<div>4</div>
	<div>5</div>
	<div>6</div>
	<div>1</div>
	<div>2</div>
	<div>3</div>
	<div>4</div>
	<div>5</div>
	<div>6</div>
</div>

 